@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .top-header {
      @apply  h-16 flex items-center pl-10 justify-between  ; /* Added shadow for depth */
    }
  
    .nav-link {
      @apply flex items-center pr-5;
    }
  
    .nav-text {
      @apply flex text-white gap-2 font-serif  hover:text-custom-yellow1 px-3 py-2  rounded-md  ; /* Adjusted hover colors to match the header background */
    }
 .input{
   @apply focus:border-green-500 focus:text-slate-500 outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5  dark:text-white 
    }
     .cards {
    @apply   mb-10 mt-10 h-[380px]  rounded overflow-hidden shadow-zinc-300 shadow-lg ;
  }

  .card-images {
    @apply w-full h-44 object-cover rounded-t-lg
  }
 
  .card-title {
    @apply font-semibold text-xl text-center text-custom-green3 ;
  }
  .next-arrow {
    @apply absolute top-1/2 transform -translate-y-1/2 z-10 cursor-pointer bg-white bg-opacity-50 border-none rounded-full w-10 h-10 flex justify-center items-center text-xl
  }
  .prev-arrow {
    @apply absolute top-1/2 transform -translate-y-1/2 z-10 cursor-pointer bg-white bg-opacity-50 border-none rounded-full w-10 h-10 flex justify-center items-center text-xl

  }

 .card {
    @apply  mx-4 my-10 h-full rounded overflow-hidden shadow-lg ;
  }

  .card-image {
    @apply w-full h-44 object-cover rounded-t-lg
  }
 
  .card-title {
    @apply font-semibold text-xl text-center;
  }
  .card-subtitle{
    @apply font-semibold text-lg text-gray-500 mb-1
  }

  .card-text {
    @apply text-gray-700 text-base overflow-hidden;
  }
  .destination-image{
    width: 40%;
    object-fit: cover;
  }
   .search-input {
    @apply ml-2 w-80 border rounded-md shadow-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent;
  }
    .search-and-filter{
      @apply max-w-5xl mx-auto flex justify-between
    }

  .see-details-btn {
    @apply bg-green-500 text-white py-1 px-6 rounded-xl hover:bg-green-700 transition-colors mt-4 inline-block;
  }
 
  .main-image {
    @apply  h-80 rounded-t-lg mb-4 ;
  }
  
  .overflow-y-hidden {
    overflow-y: hidden;
  }
  .category-dropdown{
    @apply mr-2 w-48 rounded-md shadow-sm cursor-pointer
    focus:border-green-600
  }
  .book-button{
    @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded
  }
  .all-room{
    @apply flex flex-col md:w-full gap-3 justify-center items-center  ml-7 mt-4
  }
  .room-data{
    @apply flex flex-col md:flex-row sm:gap-5 md:gap-9 bg-gray-100
  }
  .room-image{
    @apply sm:w-28 md:w-48 justify-center items-center  object-cover
  }
  .room-detail{
    @apply flex flex-col
  }
  .btn-room{
    @apply  flex justify-center items-center cursor-pointer
  }
  .lsItem{
    @apply flex flex-col gap-4 mb-2
  }
  .lsOptions{
       @apply p-2
  }
  .optionText{
    @apply z-20
  }
  .lsOptionItem{
    @apply flex justify-between mb-2 font-medium
  }
  .lsOptionInput{
    @apply w-12
  }
  .options{
    @apply  absolute top-20 bg-white text-gray-600 rounded-lg shadow-md
  }
  .optionItem{
    @apply w-64 flex justify-between my-8 p-3 z-20
  }
  .optionCounter{
    @apply flex items-center gap-10 text-black text-sm z-20
  }
  .listSearch>button{
   
    @apply p-2 bg-custom-green2 text-zinc-50 border-none w-full font-bold .cursor-pointer
  }
  .headerListItem {
    @apply flex items-center gap-3
 
}

.headerListItem.active {
  @apply border-2 p-2 border-spacing-x-20
}
 
.headerSearchText{
  @apply text-gray-300 cursor-pointer
}

.headerBtn {
  @apply bg-slate-500 text-slate-50 font-bold  cursor-pointer
}
 
.headerSearchItem {
  @apply flex items-center gap-10
}
 
.date {
  @apply absolute top-14  z-20
 
}
.headerSearch{
  @apply h-30 bg-white border-3 border-yellow-400 flex items-center justify-around py-2 px-0 rounded-lg absolute bottom-0 w-full max-w-1024
}

.optionCounter {
  @apply flex items-center gap-4 text-sm text-black;
}

.optionCounterButton {
  @apply w-8 h-8 border  border-blue-500 text-blue-500 cursor-pointer bg-white;
}

.optionCounterButton:disabled {
  @apply cursor-not-allowed;
}
.btn{
  @apply bg-custom-green2 text-slate-50 m-1 w-20
}
.form-add{
  @apply flex flex-col mt-2
}
}
